@import '../../app.scss';
.container {
  height: 100%;
  margin:0 1.5rem ;
  

  display: flex;
  align-items: center;
  flex-direction: column;
  
  gap: 30px;
  @include mobile {
    margin: auto 0.5rem;
    justify-content: center;
  }

  h2 {
    font-size: 3.5rem;
    
    color: orange;
    @include tablet {
      font-size: 2.5rem;
    }
    @include mobile {
      font-size: 1.75rem;
    }
  }

  span {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 23px;
    line-height: 2;
    color: rgba(255, 255, 255, 0.632);
    @include mobile {
      font-size: 12px;
    }

    h5 {
      margin-right: 5px;
    }
  }

  .experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    @include tablet {gap : 3rem}
    @include mobile {
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    .experience__ {
      background: transparent;
      padding: 2rem;
      border-radius: 2rem;
      border: 1px solid white;
      @include tablet{padding: 1em;}
      @include mobile {
        padding: 0.5rem;
      }

      h3 {
        
        color: rgba(255, 255, 255, 0.698);
        font-size: 2em;
        font-weight: 600;
        margin-bottom: 2rem;
        @include tablet{font-size: 1.5em;}
        @include mobile {
          font-size: 1em;
          margin-bottom: 1rem;
        }
      }

      .experience__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2.5rem;
        @include mobile {
          grid-template-columns: repeat(3, 1fr);
          gap: 1.5rem;
        }

        .experience_details {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          align-items: center;
          @include mobile {
            gap: 0.25rem;
          }

          .experience__details-icons {
            // margin:0.5px  10px;
            color: orange;
            font-size: 1.3em;
          }
        }
      }
    }

    .experience__:hover {
      h3 {
        color: rebeccapurple;
      }
      background-color: rgba(255, 255, 255, 0.805);
      color: rgba(0, 0, 0, 0.708) !important;
      cursor: default;
    }
  }
}

/* -------------------- MEDIA QUERIES(medium devices)-------------------- */
// @media screen and (max-width: 1024px) {
//   .experience__container {
//     grid-template-columns: 1fr;
//   }

//   .experience__container > div {
//     width: 80%;
//     padding: 2rem;
//     margin: 0 auto;
//   }

//   .experience__content {
//     padding: 1rem;
//   }
// }

// /* -------------------- MEDIA QUERIES(small devices)-------------------- */
// @media screen and (max-width: 600px) {
//   .experience__container {
//     gap: 1rem;
//   }

//   .experience__container > div {
//     width: 100%;
//     padding: 2rem 1rem;
//   }
// }
