@import "../../app.scss";

.navbar {
  height: 100px;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
   
    @include mobile {
      // justify-content: flex-end;
      padding: 20px;
    }
   

    span {
      padding-top: .5em;
      font-size: 28px;

      @include mobile {
        font-size: 18px;
      }
       img {      
      width:3.8em;          
          }
    }

    .header_socials{
      display: flex;     
      align-items:center ;
      justify-content: center;
      gap: 1.5rem;
      font-size: 1.25em;
      @include mobile{ gap:1rem}       
        }
        .header_socials  a:hover{
          color : rebeccapurple;
          font-size: 1.5em;
        }
  
  .header_socials::after{
      content: "";
      width: 1.75rem;
      height: 3px;
      background:  rebeccapurple;
      @include mobile{display: none;}
  }
  }
}
